body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#chartContainer {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}
